@CHARSET "UTF-8";

/*PC・タブレット・スマホ共通設定
---------------------------------------------------------------------------*/
@media only screen and (min-width:800px) and (max-width:970px){
footer {
	width: 976px;
}
}


/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";	/*文字サイズ、行間、フォントファミリー*/
	color: #333;	/*全体の文字色*/
	background: #eef;	/*全体の背景色*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
	vertical-align: bottom;
}
input,textarea,select {
	font-size: 1em;
	width: 100%;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

textarea {
	width: 95%;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;	/*リンクテキストの色*/
}
a:hover {
	color: #396523;			/*マウスオン時の文字色（全体）*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*コンテナー（HPを囲むブロック　※footerを除く）
---------------------------------------------------------------------------*/
#container {
	width: 100%;	/*コンテナー幅*/
	margin: 0px auto;
}
/*ヘッダー
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 100px;	/*高さ*/
	position: relative;
	display:inline;
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
nav {
	float: left;
	width: 19%;
	padding-top: 80px;
	margin-right: 1%;
}
/*メニュー１個ごとの設定 */
nav div {
	background: #396523;
	margin-bottom: 10px;
}
nav div p {
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Chrome, Safari */
	-webkit-transition: 0.5s;	/* マウスオン時の移り変わるまでの時間設定。0.5秒。 */
	transition: 0.5s;			/* 同上 */
	cursor:pointer;
}

/*マウスオン時の設定 */
nav div p:hover {
	background: #000;
	color: #FFF;
}


nav .unread {
	font-size: 80%;
	color: #c77070;
}

/*ログインコンテンツ
---------------------------------------------------------------------------*/
#login {
	float: right;
	width: 19%;
	margin-top: 80px;
	margin-left: 1%;
	border: none;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Chrome, Safari */
    border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
}

#login div{
	font-weight: bold;

	padding-left: 10px;
	border:solid;
	border-color:#396523;
}

#login #title{
	border:none;
	-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	text-align: center;
	background: #396523;
	color: #FFF;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	padding-bottom: 30px;
	float: left;
	width: 60%;
}
/*１カラム使用時のメインコンテンツ*/
.c1 #main {
	float: none;
	width: 100%;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	margin-bottom: 15px;
	font-size: 100%;
	color: #FFF;		/*文字色*/
	background: #000;	/*背景色*/
	padding: 2px 15px;	/*上下、左右への余白*/
	border-bottom: 3px solid #396523;	/*下線の幅、線種、色*/
}
/*mainコンテンツのちょっと大きめ見出し用h2タグの設定*/
#main h2.type1 {
	padding: 20px 15px;		/*上下、左右への余白*/
	font-size: 20px;		/*文字サイズ*/
	font-weight: normal;	/*hタグのデフォルトの太字を標準にする設定*/
	letter-spacing: 0.2em;	/*文字間隔を空ける設定*/
	border: none;
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 15px;
	font-size: 100%;
	background: #FFF;	/*背景色*/
	padding: 2px 15px;	/*上下、左右への余白*/
	border-top: 1px solid #ccc;			/*上の線の幅、線種、色*/
	border-right: 1px solid #ccc;		/*右の線の幅、線種、色*/
	border-bottom: 3px solid #396523;	/*下の線の幅、線種、色*/
	border-left: 1px solid #ccc;		/*左の線の幅、線種、色*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 10px 15px 15px;	/*上、左右、下への余白*/
}
#main p + p {
	padding-top: 0px;
}
#main h2 + p,
#main h3 + p {
	padding-top: 0px;
	margin-top: -5px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	background: #396523;	/*背景色*/
	color: #FFF;			/*文字色*/
	padding-top: 15px;
	padding-bottom: 15px;
}
/*copyrightの設定*/
footer small {
	clear: both;
	display: block;
}
/*フッター内のリンク設定*/
footer a {
	color: #FFF;	/*文字色*/
	text-decoration: none;
}
footer a:hover {
	color: #FC0;	/*マウスオン時の文字色*/
}


/*inputボタンの設定
---------------------------------------------------------------------------*/
input[type="submit"],
input[type="button"],
input[type="reset"] {
	width: 100px;	/*ボタン幅*/
	padding: 5px;	/*ボタン内の余白*/
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 30px;	/*角丸のサイズ*/
	background: #e5e5e5;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));	/*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #e5e5e5);	/*同上*/
	background: linear-gradient(#FFF, #e5e5e5);			/*同上*/
	letter-spacing: 0.1em;
	border: 1px solid #999;	/*枠線の幅、線種、色*/
}
/*ボタンのマウスオン時の設定*/
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#FFF));	/*グラデーション*/
	background: -webkit-linear-gradient(#e5e5e5, #FFF);	/*同上*/
	background: linear-gradient(#e5e5e5, #FFF);			/*同上*/
}

/*テーブル
---------------------------------------------------------------------------*/
table {
	width: 100%;
	margin-bottom: 15px;
}
table, table td, table th{
	border: 1px solid #CCC;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
table td{
	padding: 10px;
}
/*テーブル内の左側*/
table th{
	width: 140px;
	padding: 10px;
	text-align: center;
	background: #dcdcdc;	/*背景色*/
}

/*その他
---------------------------------------------------------------------------*/
/* フロート崩れの防止罫線削除 */
.clear {
	clear:both;
}

.clear hr {
	display:none;
}
/* 注意強調 */
.error-message {
	color:#ff0000;
	font-weight:bold;
	font-size:small;
	background: transparent;	/*背景色*/
}

/* ページ送りボタン */
.paginator{
    text-align:center;
}
/* 二重テーブル */
.dtable {
   text-align:center;
   border:0px;
   border-collapse:collapse;
}

.dtable td{
	border:0px;
    padding:0px;
}

.dtable td table td{
	border: 1px solid #CCC;
}

/* 付箋 */
.tags {
	width: 100%;
}
.tags td{
	width: 25%;
	padding:0px;

}
.tag {
	margin-bottom: 0px;
}
.tag div{
	width: 100%;
	height:30px;
	overflow:hidden;
}

/* 精算表 */
.moneyTable {
	font-size:small;
}
.moneyTable td,.moneyTable th{
	padding: 5px;
	line-height: 1;
}
.moneyTable input{
	width: 25%;
}

.stub {
	width: 45%;
	font-size:small;
	float:left;
}

.stub td,.stub th{
	padding: 5px;
	line-height: 1;
}

.stub input{
	width: 25%;
}


